body {
    background-color: black;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

/* Navigation */
.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

.sidebar nav ul li a span {
    margin-right: 5px;
    /* Adiciona um espaçamento entre os itens*/
}

/* Navigation */
.sidebar__library {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
    margin-top: 15px;

    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

.sidebar__library .topo ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.sidebar__library .topo .mais {
    margin-left: auto;
    padding-right: 12px;
}

.sidebar__library .playlists,
.podcasts {
    background-color: #242424;
    border-radius: 8px;
    padding: 16px 18px;

    margin: 10px 10px 0 0 ;
    margin-bottom: 20px;

    color: #fff;
    font-size: 14px;
}

.sidebar__library .meio h3{
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
}

.sidebar__library .meio h4{
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 15px;
}
